{% extends "adysys.html" %}
{% block tool_box_panel %}
    <div class="toolbox" style="">
        <div class="easyui-panel toolbox-panel" title="Buttons" collapsible="true" style="">
            View as a slide show<br/>
            Order prints online<br/>
            Print pictures
        </div>
        <br/>
        <div class="easyui-panel toolbox-panel" title="File and Folder Tasks" collapsible="true" style="">
            Make a new folder<br/>
            Publish this folder to the Web<br/>
            Share this folder
        </div>
        <br/>
        <div class="easyui-panel toolbox-panel" title="Other Places" collapsible="true" collapsed="true" style="">
            New York<br/>
            My Pictures<br/>
            My Computer<br/>
            My Network Places
        </div>
        <br/>
        <div class="easyui-panel toolbox-panel" title="Details" collapsible="true" style="">
            My documents<br/>
            File folder<br/><br/>
            Date modified: Oct.3rd 2010
        </div>
    </div>
{% endblock %}